.name{
    font-weight: bold;
    font-size: 15px;
}
 
 .price{
    font-weight: bold;
    font-size: 18px;
}
 
 .action-btn{
    margin-right: 25%;
    margin-left: 25%;
}
 
 .deletebutton{
    margin-right: 5px;
}