table {
    width: 100%;
}

.x-btn{
    margin-bottom: 10px;
}

.order{
    margin-top: 20px;
}

.picture{
    max-width: 80px;
    max-height: 70px;
}

p{
    font-weight: bold;
}

.slide{
    background-color: red;
}

.content{
    height: 300px;
}