<div align="end">
  <ion-button class="x-btn" fill="clear" (click)="close()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>
</div>

<ion-content class="content">
  <ion-list>
    <ion-item-sliding *ngFor=" let cart of carts | async">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{cart.picture}}" />
        </ion-avatar>
        <ion-label>
          <p>{{cart.productName}}</p>
          <p>{{cart.price}} Ft</p>
          <p>{{cart.quantity}} db</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteItem(cart.id)" class="slide">
          <ion-icon name="trash-outline" size="small"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<br>

<div>
  <p>Összesen: {{amount}} Ft</p>
</div>

<div style="display: flex; justify-content: flex-end;" class="order">
  <ion-button (click)="navTo('/orderAdd')" fill="clear">Tovább a rendeléshez</ion-button>
</div>